<section class="card">
    <a href="library/artist/{{id}}">
        <header>{{name}}</header>
        <img src="/images/{{artist.[0]filename}
        }" alt="{{artist.[0].description}}">
    </a>
<<<<<<< HEAD
</section>
=======
</section>
>>>>>>> 32b945f2246157617340e6faf6610d638b3c8895
