<section class="card">
    <a href="library/song/{{id}}">
        <header>{{name}}</header>
        <img src="/images/{{song.[0]filename}
        }" alt="{{song.[0].description}}">
    </a>
</section>
