<section class="album">
    {{#each albums as |album|}}
    <img src="{{album.album_image}}">
    <a href="/library/albums/{{album.id}}" class="artist-name">{{album.artist_name}}</a>
    <div class="artist-details">
    </div>
    {{/each}}
</section>