<section class="artist">
    {{#each artists as |artist|}}
    <img src="{{artist.artist_image}}">
    <a href="/library/artists/{{artist.id}}" class="artist-name">{{artist.artist_name}}</a>
    <div class="artist-details">
    </div>
    {{/each}}
</section>