    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-ride="carousel"
      data-interval="3000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100 imgbox center-fit"
            src="/headphones.jpg"
            alt="First slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100 imgbox center-fit"
            src="/guitar_woman.jpg"
            alt="Second slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100 imgbox center-fit"
            src="/concert.jpg"
            alt="Third slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100 imgbox center-fit"
            src="/pink_and_blue.jpg"
            alt="Fourth slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100 imgbox center-fit"
            src="/singer.jpg"
            alt="Fifth slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100 imgbox center-fit"
            src="/purple_concert.jpg"
            alt="Sixth slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100 imgbox center-fit"
            src="/guitar.jpg"
            alt="Seventh slide"
          />
        </div>
      </div>
      <div class="carousel-caption">
        <h1>Song N' Seek Homepage</h1>
        <p>Welcome to Song N' Seek!</p>
        <a href="login.html" class="btn">Login</a>
        <a href="signup.html" class="btn">Sign Up</a>
      </div>
    </div>
    </div>