<h1 style="color: white;">Search with a combination of artists, albums, and songs:</h1>
<div class="row">
    <div class="col-9">
        <ul id="list" class="list-group list-group-flush">
        </ul>
    </div>
</div>
