
<div class="logMain">
    <p class="log">Log In</p>
    <p id="wrong" class="text-center"></p>
    <form id="loginForm" class="form1">
        <input id="email" class="email" type="email" placeholder="Email Address" required>
        <input id="password" class="pass" type="password" placeholder="Password" required>
        <button class="submit" type="submit">Log In</button>
        <p class="forgot"><a href="#">Forgot Password?</p>
        <p class="new"><a href="/signup">Are you a new user? Sign up here!</p>
    </form>
</div>

<script src="/js/login.js"></script>