<section class="song">
    <h3 class="album-name">{{song.title}}</h3>
    <div class="song-details">
        <h3>{{song.title}}</h3>
        <p>By: {{song.artist}}</p>
        {{!-- {{#each artist.albums as |album|}}
        {{> album-details}}
        {{/each}} 
    </div>
</section>