<section class="song">
    <h3 class="song-name">{{song.title}}</h3>
    <div class="song-details">
        <p>By: {{song.artist}}</p>
        {{#!--{{#each artist.albums as |album|}}
        {{> album-details}}
        {{/each}}
    </div>
</section>