<section class="songs">
    {{#each songs as |songs|}}
    <img src="{{songs.artist_image}}">
    <a href="/library/songs/{{artist.id}}" class="song-name">{{song.songs_name}}</a>
    <div class="songs-details">
    </div>
    {{/each}}
</section>