* {
    font-family: 'Righteous', cursive;
    color: white;
}

/* Sidebar 009688 */

/* Header #00796B */

/* Background #223843 */

body, html {
    background-color: #223843;
    height: 100%;
}

button {
    color: white;
}

img {
    filter: brightness(100%);
}
