* {
    font-family: 'Righteous', cursive;
    color: white;
}

/* Sidebar 009688 */

/* Header #00796B */

/* Background #223843 */

body, html {
    background-color: #223843;
    height: 100%;
}

button {
    color: white;
}

.carousel-caption {
    text-align: center;
    background-color: black;
    margin: auto 3em;
    border-radius: 50px;
}

img {
    /* filter: blur(0.1em); */
}